<div>
  <div>{{ example.title }}</div>
  <div>{{ example.initialDescription }}</div>
</div>
<div class="container">
  <app-display-chessboard
    [startingFen]="example.steps[currentStep].fen"
    [arrows]="example.steps[currentStep].arrows"
    [highlights]="hightlights[currentStep]"
  />
  <div>
    <div>{{ example.steps[currentStep].description }}</div>
    <button type="button" [disabled]="currentStep < 1" (click)="prevStep()">
      Previous
    </button>
    <span>{{ currentStep + 1 }}/{{ example.steps.length }}</span>
    <button
      type="button"
      [disabled]="currentStep >= example.steps.length - 1"
      (click)="nextStep()"
    >
      Next
    </button>
  </div>
</div>
