@use 'variables' as *;

.lesson {
  display: flex;

  .progress-container {
    width: 1rem;
    margin-right: 0.5rem;
    position: relative;

    .circle {
      position: relative;
      top: 1rem;
      width: 1rem;
      height: 1rem;
      background-color: $border-secondary;
      border-radius: 50%;
    }

    .complete {
      background-color: $primary;
    }

    .in-progress {
      border: 0.2rem solid $primary;
    }

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 0.2rem;
      height: 0.5rem;
      background-color: $border-secondary;
      border-radius: 1rem;
    }

    &::after {
      position: absolute;
      content: '';
      bottom: -0.75rem;
      left: 50%;
      transform: translateX(-50%);
      width: 0.2rem;
      height: calc(100% - 1.75rem);
      background-color: $border-secondary;
      border-radius: 1rem;
    }
  }

  .tile {
    width: 100%;
    background-color: white;
    padding: 0.25rem 0.75rem;
    border-radius: 0.5rem;

    .top {
      height: 2.5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .title {
        font-weight: 700;
      }

      .left {
        display: flex;
        gap: 1rem;

        .locked {
          margin-right: 1rem;
          display: flex;
          align-items: center;
          img {
            height: 1.2rem;
          }
        }

        .progress-bar-container {
          width: 15rem;
          display: flex;
          align-items: center;
          gap: 0.5rem;

          .percent {
            color: $primary;
            text-wrap: nowrap;
          }

          .progress-bar {
            width: 100%;
            overflow: hidden;
            height: 0.5rem;
            background-color: $background;
            border-radius: 2rem;

            .progress {
              width: 50%;
              height: 100%;
              background-color: $primary;
              border-radius: 2rem;
            }
          }

          img {
            margin-left: 0.5rem;
            height: $font-S;
            width: $font-S;
          }
        }

        .toggle {
          border: none;
          background-color: transparent;
          display: flex;
          align-items: center;
          cursor: pointer;

          img {
            height: 1rem;
          }

          .show-details {
            transform: rotate(90deg);
          }
        }
      }
    }

    .elements-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 0.5rem;

      .element {
        height: 2.5rem;
        border: none;
        text-decoration: none;
        color: black;
        display: flex;
        justify-content: space-between;
        border-radius: 0.25rem;
        padding: 0.25rem;

        &.link:hover {
          background-color: $background;
        }

        .left {
          display: flex;
          align-items: center;
          gap: 1rem;

          img {
            height: 1rem;
          }
        }
      }
    }
  }
}

.first {
  .progress-container {
    &::before {
      display: none;
    }
  }
}

.last {
  .progress-container {
    &::after {
      display: none;
    }
  }
}
