<!-- eslint-disable @angular-eslint/template/no-inline-styles -->

<!-- <div class="lesson">
  <div
    class="progress-container"
    [class.first]="first"
    [class.last]="last && !showElements"
    [class.complete]="complete === 'Complete' || complete === 'InProgress'"
    [class.in-progress]="complete === 'InProgress'"
  >
    <div
      class="progress"
      [class.complete]="complete === 'Complete'"
      [class.in-progress]="complete === 'InProgress'"
    ></div>
  </div>
  <div class="tile">
    <button type="button" class="toggle" (click)="toggleElements()">
      <img
        src="icons/arrow-right.png"
        alt="arrow"
        [class.show-details]="showElements"
      />
    </button>
    <div class="content">
      <div class="header">
        <div>0{{ index + 1 }}</div>
        <div>Chess Opening</div>
      </div>

      <div class="progress-bar-container">
        <div class="percent">{{ progress }} / {{ all }}</div>
        <div class="progress-bar">
          <div class="progress" [style.width]="(progress / all) * 100 + '%'"></div>
        </div>
      </div>
    </div>
  </div>
</div>
@if (showElements) {
  <div class="elements-group">
    @for (exer of lesson.quizzes; track $index) {
      <div class="element">
        <div class="progress-margin"[class.last]="last" [class.complete]="true" ></div>
        <div class="progress-container" [class.complete]="true">
          <div class="progress" [class.complete]="true"></div>
        </div>
        <div class="tile" [class.complete]="true">
          <div class="content">
            <div class="header">
              <div>{{ $index + 1 }}</div>
              <div>{{ exer.title }}</div>
            </div>
            <a type="button" class="primary-btn" [routerLink]="'lesson/' + lesson.id  + '/quiz/' + exer.id" >Learn</a>
          </div>
        </div>
      </div>
    }
  </div>
} -->

<div class="lesson" [class.first]="first" [class.last]="last">
  <div class="progress-container">
    <div
      class="circle"
      [class.complete]="complete === 'Complete'"
      [class.in-progress]="complete === 'InProgress'"
    ></div>
  </div>

  <div class="tile">
    <div class="top">
      <div class="title">{{ lesson.title }}</div>
      @if (locked) {
        <div>locked</div>
      }
      <div class="left">
        <div class="progress-bar-container">
          <div class="percent">{{ progress }} / {{ all }}</div>
          <div class="progress-bar">
            <div class="progress" [style.width]="(progress / all) * 100 + '%'"></div>
          </div>
        </div>

        <button type="button" class="toggle" (click)="toggleElements()">
          <img
            src="icons/arrow-right.png"
            alt="arrow"
            [class.show-details]="showElements"
          />
        </button>
      </div>
    </div>
    @if (showElements) {
      <div class="elements-group">
        @for (element of elements(); track $index) {
          @if (locked) {
            <div class="element">
              <div class="left">
                <img [src]="kindToIcon.get(element.kind)" [alt]="element.kind" />
                <div class="title">{{ element.title }}</div>
              </div>
              <div class="right">
                <div></div>
              </div>
            </div>
          } @else {
            <a
              class="element"
              [routerLink]="
                'lesson/' +
                lesson.id +
                '/' +
                element.kind.toLowerCase() +
                '/' +
                element.id
              "
            >
              <div class="left">
                <img [src]="kindToIcon.get(element.kind)" [alt]="element.kind" />
                <div class="title">{{ element.title }}</div>
              </div>
              <div class="right">
                <div></div>
              </div>
            </a>
          }
        }
        @if (lesson.quizzes.length === 0) {
          <div>No Elements</div>
        }
      </div>
    }
  </div>
</div>
