<!-- eslint-disable @angular-eslint/template/no-inline-styles -->
<div class="lesson" [class.first]="first" [class.last]="last">
  <div class="progress-container">
    <div
      class="circle"
      [class.complete]="complete === 'Complete'"
      [class.in-progress]="complete === 'InProgress'"
    ></div>
  </div>

  <div class="tile">
    <div class="top">
      <div class="title">{{ lesson.title }}</div>
      <div class="left">
        @if (locked) {
          <div class="locked"><img src="icons/lock.png" alt="locked" /></div>
        }
        <!-- <div class="progress-bar-container">
          <div class="percent">{{ progress }} / {{ all }}</div>
          <div class="progress-bar">
            <div class="progress" [style.width]="(progress / all) * 100 + '%'"></div>
          </div>
        </div> -->

        <button type="button" class="toggle" (click)="toggleElements()">
          <img
            src="icons/arrow-right.png"
            alt="arrow"
            [class.show-details]="showElements"
          />
        </button>
      </div>
    </div>
    @if (showElements) {
      <div class="elements-group">
        @for (element of elements(); track $index) {
          @if (locked) {
            <div class="element">
              <div class="left">
                <img [src]="kindToIcon.get(element.kind)" [alt]="element.kind" />
                <div class="title">{{ element.title }}</div>
              </div>
              <div class="right">
                <div></div>
              </div>
            </div>
          } @else {
            <a
              class="element link"
              [routerLink]="
                'lesson/' +
                lesson.id +
                '/' +
                element.kind.toLowerCase() +
                '/' +
                element.id
              "
            >
              <div class="left">
                <img [src]="kindToIcon.get(element.kind)" [alt]="element.kind" />
                <div class="title">{{ element.title }}</div>
              </div>
            </a>
          }
        }
        @if (elements().length === 0) {
          <div>No Elements</div>
        }
      </div>
    }
  </div>
</div>
