@use 'variables' as *;

.page {
  width: $page-width;
  border: 1px solid;
  margin: auto;
}

.panel {
  background-color: white;
  border-radius: 1rem;
  padding: 1rem;
}

.top-section {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  border-radius: 1rem;
  border: 3px solid pink;
}

.primary-btn,
.secondary-btn {
  img {
    height: 0.75rem;
  }
}

.quiz-form {
  margin: auto;
  position: relative;
  overflow: hidden;

  input,
  textarea {
    width: 100%;
    border-radius: 0.5rem;
    border: 1px solid $border-secondary;
    font-size: $font-S;
    padding: 0.5rem;
    height: 2.6rem;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
  }

  textarea {
    resize: none;
    height: calc(1.2rem * 5 + 1rem);
  }

  .step-container {
    border: 1px solid blue;

    .step {
      // display: flex;
      // flex-direction: column;
      // gap: 1.5rem;
      position: absolute;
      transition:
        transform 0.5s ease-in-out,
        opacity 0.3s ease-in-out;
      opacity: 0;
      visibility: hidden;

      .tile {
        background-color: white;
        border-radius: 1rem;
        padding: 1rem;
        height: 100%;

        .header {
          font-size: $font-M;
          font-weight: 700;
          white-space: nowrap;
          margin-bottom: 0.5rem;
        }
      }

      .elephant-tile {
        background-color: white;
        border-radius: 1rem;
        padding: 1rem;
        flex: 1;
        height: 100%;
      }
    }

    .step-1 {
      display: flex;
      gap: 1rem;
      height: 35rem; // CHANGE!!!!!!1
      border: 3px solid red;

      .tile {
        width: 50rem;
        // border: 1px solid;

        input {
          width: 100%;
        }
      }
    }

    .step-2 {
      // display: flex;

      .show-chessboard-tile {
        display: flex;
        justify-content: space-between;
        background-color: white;
        border-radius: 1rem;
        padding: 1rem;
        // border: 1px solid green;

        label {
          white-space: nowrap;
        }

        input {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          width: fit-content;
          height: 1rem;
          cursor: pointer;
          transform: scale(1.5);
        }
      }
    }

    .step-hidden {
      transform: translateX(120%);
    }

    .step-active {
      position: relative;
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
    }

    .step-left {
      transform: translateX(-120%);
    }
  }
}

.nav-buttons {
  display: flex;
  gap: 1rem;
}

.questions-form {
  display: flex;
}

.answers {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-control-field {
  width: 100%;

  // label {
  //   margin-bottom: 0.5rem;
  // }
  // margin-bottom: 1rem;
}

.step-header {
  font-size: large;
  margin-left: 1rem;
  margin-right: 1rem;
}
