<article class="form-wrapper">
  <form [formGroup]="uploadForm">
    <app-file-upload
      [acceptedFileTypes]="acceptedFileTypes"
      (fileSelected)="fileSelected($event)"
    />
  </form>
  <app-validation-errors
    [errors]="uploadForm.controls['thumbnail'].errors"
    [dirty]="uploadForm.dirty"
    [touched]="uploadForm.touched"
  />
  <div class="dialog-buttons">
    <button
      type="button"
      class="primary-btn small"
      [disabled]="!uploadForm.valid || submitting"
      (click)="onSubmit()"
    >
      Submit
    </button>
  </div>
</article>
