@use 'variables' as *;

.ai-container {
  position: fixed;
  max-width: 20rem;
  bottom: 0;
  right: 0;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.messages {
  padding: 1rem;
  border-radius: 1rem;
  background-color: #ffffffc5;
  max-height: 20rem;
  overflow-y: scroll;
  color: white;
  scroll-behavior: smooth;
  :nth-child(even) {
    background-color: gray;
  }
  :nth-child(odd) {
    background-color: black;
  }

  .message {
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border-radius: 1rem;
  }
}

.show-button {
  all: unset;
  background-color: $primary-lighter;
  padding: 0.5rem;
  border-radius: 1rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.hide-icon {
  width: 1rem;
}

.ai-icon {
  width: 1.5rem;
  transform: scaleX(-1);
}
