/* stylelint-disable at-rule-empty-line-before */

@use 'variables' as *;

.chessboard {
  aspect-ratio: 1/1;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  width: 32rem;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
}

.chessboard-rank {
  bottom: 0.25rem;
  font-weight: 600;
  position: absolute;
  right: 0.25rem;
}

.chessboard-file {
  font-weight: 600;
  left: 0.25rem;
  position: absolute;
  top: 0.25rem;
}

.chessboard-field {
  aspect-ratio: 1/1;
  height: 100%;
  max-height: 5rem;
  max-width: 5rem;
  position: relative;
  width: 100%;

  .chessboard-field-content {
    display: grid;
    height: 100%;
    padding-bottom: 0.25rem;
    place-content: center;

    img {
      transform: scale(1.5);
    }
  }

  .king-in-check {
    background-color: $king-in-check-background;
  }
}

img {
  user-select: none;
}

.main-game-content {
  display: flex;
  gap: 1rem;
  max-width: 53rem;
  width: 100%;
}

@for $row from 1 through 8 {
  @for $col from 1 through 8 {
    .chessboard {
      .chessboard-field:nth-child(#{$col+($row - 1) * 8}) {
        background-color: if(
          ($row + $col) % 2 == 0,
          $white-square-background,
          $black-square-background
        );

        .selected-square,
        .last-move {
          background-color: if(
            ($row + $col) % 2 == 0,
            $white-square-selected-background,
            $black-square-selected-background
          );
        }

        .piece-square {
          .safe-square {
            background-color: transparent;
            border: if(
              ($row + $col) % 2 == 0,
              0.5rem solid $white-square-valid-move-circle-color,
              0.5rem solid $black-square-valid-move-circle-color
            );
            border-radius: 100%;
            height: 100%;
            left: 0;
            top: 0;
            width: 100%;
          }
        }

        .chessboard-file,
        .chessboard-rank {
          color: if(
            ($row + $col) % 2 == 0,
            $black-square-background,
            $white-square-background
          );
        }
      }
    }
  }
}

.loading-overlay {
  height: calc(100vh - 13rem);
  position: absolute;
  width: 40rem;
  z-index: 100;
}
