<div class="page">
  <h2>Available Courses</h2>
  <app-student-course-filters (newQueryParams)="onNewFilters($event)" />
  <ul class="list">
    @for (course of courses; track $index) {
      <app-student-course-tile [course]="course" />
    }
    @if (courses.length === 0) {
      <p class="no-courses-message">No courses found.</p>
    }
    <p-paginator
      class="paginator"
      [first]="first"
      [rows]="5"
      [totalRecords]="totalRecords"
      [rowsPerPageOptions]="[5, 10, 15]"
      (onPageChange)="onPageChange($event)"
    />
  </ul>
</div>
