/* stylelint-disable at-rule-empty-line-before */

$black-square-background: #739552;
$white-square-background: #ebecd0;
.chessboard {
  aspect-ratio: 1/1;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  max-width: 40rem;
  width: 100%;
}

.chessboard-rank {
  bottom: 0.25rem;
  font-weight: 600;
  position: absolute;
  right: 0.25rem;
}

.chessboard-file {
  font-weight: 600;
  left: 0.25rem;
  position: absolute;
  top: 0.25rem;
}

.chessboard-field {
  aspect-ratio: 1/1;
  height: 100%;
  max-height: 5rem;
  max-width: 5rem;
  position: relative;
  width: 100%;

  .chessboard-field-content {
    display: grid;
    height: 100%;
    padding-bottom: 0.25rem;
    place-content: center;

    img {
      transform: scale(1.5);
    }
  }
}

@for $row from 1 through 8 {
  @for $col from 1 through 8 {
    .chessboard {
      .chessboard-field:nth-child(#{$col+($row - 1) * 8}) {
        background-color: if(
          ($row + $col) % 2 == 0,
          $white-square-background,
          $black-square-background
        );

        .chessboard-file,
        .chessboard-rank {
          color: if(
            ($row + $col) % 2 == 0,
            $black-square-background,
            $white-square-background
          );
        }
      }
    }
  }
}
