<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
@if (gameOverMessage) {
  <h2 class="game-over-message">{{ gameOverMessage }}</h2>
}
<div class="chess-content">
  <div class="promotion-dialog-wrapper">
    @if (isPromotionActive) {
      <div class="promotion-dialog">
        @for (piece of promotionPieces(); track $index) {
          <div class="promotion-piece">
            <img
              alt="promotion-piece"
              [src]="pieceImagePaths[piece]"
              (click)="promotePiece(piece)"
            />
          </div>
        }
        <span class="close-promotion-dialog" (click)="closePawnPromotionDialog()">
          &times;
        </span>
      </div>
    }
  </div>
  <div class="main-game-content">
    <div class="chessboard">
      <!-- field[0] -> square, for example "b2"; field[1] -> Piece fen char, for example "P" -->
      @for (field of chessboardView; track $index) {
        <div class="chessboard-field" (click)="move(field[0])">
          @if ($index % 8 === 0) {
            <div class="chessboard-file">{{ field[0][1] }}</div>
          }

          @if ($index > 55) {
            <div class="chessboard-rank">{{ field[0][0] }}</div>
          }

          <div
            class="chessboard-field-content"
            [ngClass]="{
              'selected-square': isSquareSelected(field[0]),
              'piece-square': field[1] !== null,
              'last-move': isSquareLastMove(field[0]),
              'king-in-check': isSquareChecked(field[0]),
              'promotion-square': isSquarePromotionSquare(field[0])
            }"
          >
            <div
              [ngClass]="{ 'safe-square': isSquareSafeForSelectedPiece(field[0]) }"
            ></div>
            @if (field[1] !== null) {
              <div class="chessboard-chess-piece">
                <img
                  [alt]="'chess-piece-' + field[1]"
                  [src]="pieceImagePaths[field[1]]"
                />
              </div>
            }
          </div>
        </div>
      }
    </div>
    <div class="move-list">
      <app-move-list
        [moveList]="moveList"
        [gameHistoryPointer]="gameHistoryPointer"
        [gameHistoryLength]="gameHistory.length"
        (showPreviousPositionEvent)="showPreviousPosition($event)"
      >
      </app-move-list>
    </div>
  </div>
</div>
<div class="chessboard-controls">
  <div><p-button (onClick)="reverseChessboard()">Reverse side</p-button></div>
  <div>
    <p-button
      [disabled]="displayingStartingMove"
      (onClick)="setCurrentPositionAsStartingPosition()"
      >Start from this move</p-button
    >
  </div>
  <div class="chessboard-fen-load-input">
    <div>
      <input pInputText type="text" [(ngModel)]="fen" />
      <div *ngIf="!fenValid()" class="p-error">Please enter a valid FEN string.</div>
    </div>
    <p-button [disabled]="!fenValid()" (onClick)="setBoardFromFen()">Load fen</p-button>
    <p-button (onClick)="savePuzzle()">Save puzzle</p-button>
  </div>
</div>
