@import 'variables';

.tile {
  width: fit-content;

  .header {
    font-size: $font-XS;
    font-weight: 700;
    margin-bottom: 0.1rem;
  }

  .circles-group {
    display: flex;
    gap: 0.2rem;

    .circle {
      width: 1.5em;
      height: 1.5rem;
      border-radius: 50%;
      background-color: $background;
    }
  }
}
