<div class="page">
  <div class="nav">
    <div class="puzzle">
      <img src="icons/puzzle-complete.png" alt="puzzle" />
    </div>
    <div class="header">Puzzle Builder</div>
    <div class="operation-group">
      <button type="button" class="secondary-btn" (click)="back()">Back</button>
    </div>
  </div>

  <div class="content-section">
    <div class="form-inputs" [formGroup]="exerciseForm">
      <div class="header">Info</div>
      <div>Title</div>
      <input type="text" formControlName="title" class="standard-input" />
      <app-validation-errors
        [errors]="exerciseForm.controls.title.errors"
        [dirty]="exerciseForm.controls.title.dirty"
        [touched]="exerciseForm.controls.title.touched"
      />
      <div>Description</div>
      <textarea
        formControlName="description"
        class="standard-input puzzle-description"
      ></textarea>
      <app-validation-errors
        [errors]="exerciseForm.controls.description.errors"
        [dirty]="exerciseForm.controls.description.dirty"
        [touched]="exerciseForm.controls.description.touched"
      />
    </div>
    <app-coach-puzzle-chessboard-editor
      [startingFen]="'rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1'"
      [previewMode]="PreviewMode.NoPreview"
      (savePuzzle)="savePuzzle($event)"
    ></app-coach-puzzle-chessboard-editor>
  </div>
</div>
