@use 'variables' as *;

.diagram {
  width: fit-content;
  display: flex;
  gap: 2px;
  // border: 1px solid red;

  .values {
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.25rem;
    padding-left: 1.5rem;
    // border: 1px solid blue;

    .bar {
      // width: 50%;
      background-color: $background;
      border-radius: 0.25rem 0 0 0.25rem;
      padding: 0.25rem 0.5rem;
      font-weight: 700;

      @for $i from 1 through 4 {
        &:nth-child(#{$i}) {
          color: nth($colors, $i);
          background-color: lighten($color: nth($colors, $i), $amount: 25);
        }
      }
    }
  }

  .tags {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    .bar {
      background-color: $background;
      border-radius: 0 0.25rem 0.25rem 0;
      padding: 0.25rem 0.5rem;
      font-weight: 700;
      // text-align: right;

      @for $i from 1 through 4 {
        &:nth-child(#{$i}) {
          color: nth($colors, $i);
          background-color: lighten($color: nth($colors, $i), $amount: 25);
        }
      }
    }
  }
}
