.top-container {
    align-items: end;
    display: flex;
    justify-content: space-between;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.page {
    margin: auto;
    margin-bottom: 3rem;
    width: 62.5rem;
}

.dsc {
    font-size: 0.75rem;
    font-weight: 700;
}

.no-rev {
    margin: 1rem;
}
