<div class="page">
  <div class="top-container">
    <div class="info">
      <h2>{{ course().title }}</h2>
      <div>
        <div class="dsc">Description</div>
        <div>{{ course().description }}</div>
      </div>
      <div>{{ course().lessonNumber }} lessons</div>
      <div>
        Average review score: {{ averageReviewScore() }} ({{ reviewCount() }} reviews)
      </div>
    </div>
    <!-- <button class="primary-button" type="submit" (click)="buyCourse()">Buy for {{ formattedPrice() }}</button> -->

    <button class="primary-button" type="submit" (click)="buyCourse()">
      Buy for {{ course().price }}$
    </button>
  </div>
  @for (review of course().reviews; track $index) {
    <app-course-review [review]="review" />
  }
  @if (course().reviews.length === 0) {
    <div class="no-rev" >No revies yet</div>
  }
  <br />
  <a class="primary-button" [routerLink]="'../'">Back to courses</a>
</div>
