<!-- <div>
  <div class="top-container">
    <div class="info">
      <h2>{{ course().title }}</h2>
      <div>
        <div class="dsc">Description</div>
        <div>{{ course().description }}</div>
      </div>
      <div>{{ course().lessonNumber }} lessons</div>
      <div>
        Average review score: {{ averageReviewScore() }} ({{ reviewCount() }} reviews)
      </div>
    </div>
    <button class="primary-button" type="submit" (click)="buyCourse()">Buy for {{ formattedPrice() }}</button>

    <button class="primary-btn" type="submit" (click)="buyCourse()">
      Buy for {{ course().price }}$
    </button>
  </div>
  @for (review of course().reviews; track $index) {
    <app-course-review [review]="review" />
  }
  @if (course().reviews.length === 0) {
    <div class="no-rev">No revies yet</div>
  }
  <br />
  <a class="primary-btn" [routerLink]="'../'">Back to courses</a>
</div> -->

<div class="page">
  <h2>Course Details</h2>
  <section class="main-section">
    <img class="course-img" src="images/chess-course-1.png" alt="chess-course" />
    <div class="right">
      <div class="content">
        <h3>{{ course().title }}</h3>
        <div class="desc">{{ course().description }}</div>
      </div>
      <div class="footer">
        <!-- TODO -->
        <div class="owned-info">
          @if (true) {
            You own this course
          }
        </div>
        <div class="date">
          Released in {{ formattedDate() }}
          <img src="icons/calendar.png" alt="calendar" />
        </div>
      </div>
    </div>
  </section>

  <section class="coach-section">
    <div class="content">
      <h3>Coach</h3>
      <div class="header">
        <div class="profile">
          <div class="circle"><span>CA</span></div>
          <a
            class="coach-link"
            [routerLink]="['/student', 'coach', course().coach.id, 'profile']"
            >{{ course().coach.name }}</a
          >
          <!-- [coach name and surname] -->
        </div>
        <div class="chess-title">{{ course().coach.chessTitle || 'N/A' }}</div>
        <!-- [coach chess title] -->
        <app-star-rating [rating]="2.51" [ratingsNumber]="123" />
        <div class="created-courses">
          <div>{{ course().coach.createdCoursesCount }}</div>
          <!-- [numebr of created courses by coach] -->
          <img src="icons/book.png" alt="book" />
          <div>Created Courses</div>
        </div>
        <button type="button" class="toggle-btn" (click)="toggleCoachDetails()">
          @if (showCoachDetails) {
            <img src="icons/purple-arrow-up.png" alt="arrow-up" />
          } @else {
            <img src="icons/purple-arrow-down.png" alt="arrow-up" />
          }
        </button>
      </div>
    </div>
    @if (showCoachDetails) {
      <div class="details">
        <!-- [coach description] -->
        {{ course().coach.description }}
      </div>
    }
  </section>

  <section class="inside-section">
    <h3>What's inside</h3>
    <div class="content">
      <div class="top">
        <app-course-difficulty
          [eloRangeStart]="course().eloRangeStart"
          [eloRangeEnd]="course().eloRangeEnd"
        />
        <app-course-details-diagram [courseDetails]="diagramCourseDetails()" />
        <!-- [couse details form diagram] -->
      </div>
      <div class="line"></div>
      <div class="bottom">
        <div class="language">{{ course().language }}</div>
        <div class="video">
          <span>{{ course().totalVideoCount }} h </span>of Recorded Videos
        </div>
        <div class="interaction">Coach Interaction</div>
      </div>
    </div>
  </section>

  <section class="lesson-section">
    <div class="content">
      <div class="info">
        <h3>Lessons</h3>
        <span
          >({{ lessonsAvailableForPreview }} out of
          {{ course().lessons.length }} available for preview)</span
        >
      </div>
      <button type="button" class="toggle-btn" (click)="toggleLessons()">
        @if (showLessons) {
          <img src="icons/purple-arrow-up.png" alt="arrow-up" />
        } @else {
          <img src="icons/purple-arrow-down.png" alt="arrow-up" />
        }
      </button>
    </div>
  </section>
  @if (showLessons) {
    @if (course().lessons.length === 0) {
      <div>No lessons</div>
    } @else {
      <div class="lessons">
        @for (lesson of course().lessons; track $index) {
          <app-student-lesson
            [lesson]="lesson"
            [index]="$index"
            [first]="$first"
            [last]="$last"
            [complete]="LessonStatus.InProgress"
            [locked]="!lesson.preview"
          />
        }
      </div>
    }
  }

  <section class="inpact-section">
    <div class="content">
      <h3>Opinions</h3>
      <div class="header">
        <app-star-rating
          [rating]="course().averageScore"
          [ratingsNumber]="course().reviewCount"
        />
        <div class="created-courses">
          <div>2321</div>
          <!-- [numebr of created courses by coach] -->
          <img src="icons/people.png" alt="book" />
          <div>Participants</div>
        </div>
        <button type="button" class="toggle-btn" (click)="toggleInpactDetails()">
          @if (showInpactDetails) {
            <img src="icons/purple-arrow-up.png" alt="arrow-up" />
          } @else {
            <img src="icons/purple-arrow-down.png" alt="arrow-up" />
          }
        </button>
      </div>
    </div>
    @if (showInpactDetails) {
      <div class="review-group">
        @for (review of reviews; track $index) {
          <app-course-review [review]="review" />
        }
        @if (reviews.length === 0) {
          <div class="no-rev">No revies yet</div>
        }
      </div>
    }
  </section>

  <section class="payment-section">
    <div class="text"><span>30 days</span> to return if you're not satisfied</div>
    <div class="payment">
      <div class="price">{{ course().price }}$</div>
      <!-- TODO change condition -->
      <button class="primary-btn" type="submit" [disabled]="true" (click)="buyCourse()">
        {{ true ? 'Owned' : 'Buy Course' }}
      </button>
    </div>
  </section>
</div>
