<!-- <div>
  <div class="top-container">
    <div class="info">
      <h2>{{ course().title }}</h2>
      <div>
        <div class="dsc">Description</div>
        <div>{{ course().description }}</div>
      </div>
      <div>{{ course().lessonNumber }} lessons</div>
      <div>
        Average review score: {{ averageReviewScore() }} ({{ reviewCount() }} reviews)
      </div>
    </div>
    <button class="primary-button" type="submit" (click)="buyCourse()">Buy for {{ formattedPrice() }}</button>

    <button class="primary-btn" type="submit" (click)="buyCourse()">
      Buy for {{ course().price }}$
    </button>
  </div>
  @for (review of course().reviews; track $index) {
    <app-course-review [review]="review" />
  }
  @if (course().reviews.length === 0) {
    <div class="no-rev">No revies yet</div>
  }
  <br />
  <a class="primary-btn" [routerLink]="'../'">Back to courses</a>
</div> -->

<div class="page">
  <h2>Course Details</h2>
  <section class="main-section">
    <img class="course-img" src="images/chess-course-1.png" alt="chess-course" />
    <div class="right">
      <div class="content">
        <h3>{{ course().title }}</h3>
        <div class="desc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis architecto
          voluptates labore repudiandae ipsam adipisci. Quia dolorum, ut deserunt modi
          aut officia soluta possimus accusamus eveniet, dolorem perferendis placeat
          architecto sit sequi aliquam beatae tempora facilis consequuntur vitae
          recusandae ipsam!
        </div>
      </div>
      <div class="footer">
        <div class="date">
          Released on 2025
          <img src="icons/calendar.png" alt="calendar" />
        </div>
      </div>
    </div>
  </section>

  <section class="coach-section">
    <div class="content">
      <h3>Coach</h3>
      <div class="header">
        <div class="profile">
          <div class="circle"><span>CA</span></div>
          <div>Carlos Albinos</div>
          <!-- [coach name and surname] -->
        </div>
        <div class="chess-title">GM</div>
        <!-- [coach chess title] -->
        <app-star-rating [rating]="2.51" [ratingsNumber]="123" />
        <div class="created-courses">
          <div>3</div>
          <!-- [numebr of created courses by coach] -->
          <img src="icons/book.png" alt="book" />
          <div>Created Courses</div>
        </div>
        <button type="button" class="toggle-btn" (click)="toggleCoachDetails()">
          @if (showCoachDetails) {
            <img src="icons/purple-arrow-up.png" alt="arrow-up" />
          } @else {
            <img src="icons/purple-arrow-down.png" alt="arrow-up" />
          }
        </button>
      </div>
    </div>
    @if (showCoachDetails) {
      <div class="details">
        <!-- [coach description] -->
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi ex, numquam
        ipsam nam praesentium vel! Neque error laudantium pariatur dolore consequuntur
        quam quidem consectetur! Ad impedit blanditiis illum saepe ducimus quos quas! Et
        vitae quas corrupti quidem. Culpa, soluta architecto.
      </div>
    }
  </section>

  <section class="inside-section">
    <h3>What's inside</h3>
    <div class="content">
      <div class="top">
        <app-course-difficulty [difficulty]="3" />
        <app-course-details-diagram [courseDetails]="diagramCourseDetails" />
        <!-- [couse details form diagram] -->
      </div>
      <div class="line"></div>
      <div class="bottom">
        <div class="language">English</div>
        <div class="video"><span>17.5 h </span>of Recorder Videos</div>
        <div class="interaction">Coach Interaction</div>
      </div>
    </div>
  </section>

  <section class="inpact-section">
    <div class="content">
      <h3>Opinions</h3>
      <div class="header">
        <app-star-rating [rating]="4" [ratingsNumber]="123" />
        <div class="created-courses">
          <div>2321</div>
          <!-- [numebr of created courses by coach] -->
          <img src="icons/people.png" alt="book" />
          <div>Participants</div>
        </div>
        <button type="button" class="toggle-btn" (click)="toggleInpactDetails()">
          @if (showInpactDetails) {
            <img src="icons/purple-arrow-up.png" alt="arrow-up" />
          } @else {
            <img src="icons/purple-arrow-down.png" alt="arrow-up" />
          }
        </button>
      </div>
    </div>
    @if (showInpactDetails) {
      <div class="review-group">
        @for (review of course().reviews; track $index) {
          <app-course-review [review]="review" />
        }
        @if (course().reviews.length === 0) {
          <div class="no-rev">No revies yet</div>
        }
      </div>
    }
  </section>

  <section class="payment-section">
    <div class="text"><span>30 days</span> to return if you're not satisfied</div>
    <div class="payment">
      <div class="price">{{ course().price }}$</div>
      <button class="primary-btn" type="submit" (click)="buyCourse()">
        Buy Course
      </button>
    </div>
  </section>
</div>
