<app-navbar />
<div class="content">
  <div class="landing-page">
    <div>
      <img class="flying-pawns" src="icons/flying-pawns-left.png" alt="pawns" />
    </div>
    <div class="center">
      <div class="header">Start your chess journey</div>
      <div class="sub-header">Your path to chess mastery begins here</div>
      <div class="btn-group">
        <a class="primary-btn" [routerLink]="'/student/register'"
          >Register as student</a
        >
        <a class="secondary-btn" [routerLink]="'/coach/register'"
          >Register as coach<img src="icons/coach.png" alt="coach"
        /></a>
      </div>
      <div class="learn-more">
        Learn more<img src="icons/arrow-down.png" alt="arrow down" />
      </div>
    </div>
    <div>
      <img class="flying-pawns" src="icons/flying-pawns-right.png" alt="pawns" />
    </div>
  </div>
  <div class="sections">
    <div class="content">
      <section>
        <h1>What We Offer</h1>
        <div class="desc">Our courses consist of 4 kinds of elements:</div>
        <div class="tiles-group">
          <div class="tile">
            <img src="icons/video-complete.png" alt="video" />
            <h3>Videos</h3>
            <div>
              Learn from expert instructors through clear, easy-to-follow video
              tutorials that break down key concepts and strategies.
            </div>
          </div>
          <div class="tile">
            <img src="icons/example-complete.png" alt="example" />
            <h3>Examples</h3>
            <div>
              Understand every move with visual examples, detailed text explanations,
              and interactive highlights to guide your thinking.
            </div>
          </div>
          <div class="tile">
            <img src="icons/puzzle-complete.png" alt="puzzle" />
            <h3>Puzzles</h3>
            <div>
              Sharpen your skills by solving real-game scenarios on an interactive board
              designed to reinforce tactical patterns.
            </div>
          </div>
          <div class="tile">
            <img src="icons/quiz-complete.png" alt="quiz" />
            <h3>Quizzes</h3>
            <div>
              Test your knowledge with dynamic quizzes (some featuring chessboards)
              covering tactics, openings, and endgame theory.
            </div>
          </div>
          <!-- <div class="tile">
            <img src="icons/live.png" alt="student-hat" />
            <h3>Coach Interaction</h3>
            <div>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, ratione.
            </div>
          </div> -->
        </div>
      </section>
      <!-- <section>
        <h1>Best Way To Start</h1>
        <div class="desc">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit pariatur velit
          enim culpa qui id?
        </div>

        <div class="best-way-to-start-graphic">
          <div class="sign-up-group">
            <img src="icons/star.png" alt="star" />
            <a class="text" [routerLink]="'/student/register'">Create account</a>
          </div>
          <div class="line">
            <div class="step-2">
              <div class="text">Sign up for free course</div>
            </div>
            <div class="a">
              <img src="icons/arrow-right.png" alt="arrow-right" />
            </div>
            <div class="b">
              <img src="icons/arrow-right.png" alt="arrow-right" />
            </div>
          </div>
          <div class="rec">
            <div class="step-3">
              <div class="text">
                Collect XP <img src="icons/coin.png" alt="coin" />
              </div>
            </div>
            <div class="a">
              <img src="icons/arrow-right.png" alt="arrow-right" />
            </div>
            <div class="step-4">
              <div class="text"><span>Redeem XP</span>&nbsp;for paid course</div>
            </div>
            <div class="b">
              <img src="icons/arrow-left.png" alt="arrow-right" />
            </div>
          </div>
        </div>
      </section> -->
      <section class="best-way-to-start">
        <h1>Best Way To Start</h1>
        <div class="desc">
          Kick off your chess journey in three simple steps — from choosing the right
          course to mastering essential skills.
        </div>

        <div class="descriptions">
          <div class="desc-container">
            <div class="header">Choose Your Course</div>
            <div class="description">Pick a course that suits your skill level</div>
          </div>
          <div class="desc-container">
            <div class="header">Practise with materials</div>
            <div class="description">Use various tools to boost your chess skills:</div>
          </div>
          <div class="desc-container">
            <div class="header">Keep Learning</div>
            <div class="description">Unlock new courses as you improve</div>
          </div>
        </div>

        <div class="img-container">
          <img
            class=""
            src="images/best-way-to-start.png"
            alt="best way to start diagram"
          />
        </div>
      </section>
      <section>
        <h1>FAQ</h1>
        <div class="desc">
          Find quick answers to the most common questions about our service.
        </div>
        <div class="question-tile-group">
          <app-question-tile
            question="What skill levels do your courses cover?"
            answer="We offer courses for all levels: Novice, Beginner, Intermediate, Expert and Advanced. Whether you’re just starting or aiming to refine your strategy, we have a course for you."
          />

          <app-question-tile
            question="Do I need prior experience to join?"
            answer="No prior experience is needed! Our beginner-friendly courses start from the basics and guide you step by step."
          />

          <app-question-tile
            question="How long does each course take?"
            answer="Course durations vary, but most take between 4-12 weeks, depending on your pace and commitment."
          />

          <app-question-tile
            question="Are the courses self-paced?"
            answer="Yes! You can complete the lessons at your own pace, anytime, anywhere."
          />
        </div>
      </section>
    </div>
  </div>
</div>
<app-footer />
