<!-- eslint-disable @angular-eslint/template/no-inline-styles -->

<!-- <p-confirmDialog></p-confirmDialog>
<div class="page">
  <div class="course-data">
    <div class="course-header">
      <div class="course-header-left">
        <h1 class="course-title">{{ course().title }}</h1>
        <div class="course-lesson-count">{{ course().lessons.length }} lessons</div>
      </div>
      <div class="course-header-right">
        <div>
          <button pButton class="sign-out-button" type="button" (click)="signOut()">
            Sign out from course
          </button>
        </div>
        <div>
          <a class="back-button" pButton [routerLink]="'../'">Back to courses</a>
        </div>
      </div>
    </div>
    <div class="course-central-content">
      <div class="course-description">
        <div class="dsc">Description</div>
        <div>{{ course().description }}</div>
      </div>
      <div class="review-form-container">
        <app-student-course-review-form />
      </div>
    </div>
  </div>
  <hr />
  <ul class="course-lesson-list">
    @for (lesson of course().lessons; track $index) {
      <div class="course-lesson">
        <li class="course-lesson-header">
          <h3>Lesson {{ $index + 1 }}</h3>
        </li>
        <div class="course-lesson-exercises">
          @for (exercise of getSortedExercises(lesson.exercises); track exercise) {
            <div class="exercise-wrapper">
              <div class="exercise-header">
                <h4>Exercise</h4>
                <a
                  class="exercise-link-title"
                  [routerLink]="
                    '/student/my-courses/' +
                    course().id +
                    '/lesson/' +
                    lesson.id +
                    '/exercise/' +
                    exercise.id
                  "
                >
                  <i class="pi pi-chevron-left"></i>
                  <span>{{ exercise.title }}</span
                  ><i class="pi pi-chevron-right"></i
                ></a>
              </div>
              <div class="exercise-description">
                {{ exercise.description }}
              </div>
            </div>
          }
        </div>
      </div>
    }
  </ul>
</div> -->

<div class="page">
  <section class="main-section">
    <img class="course-img" src="assets/images/chess-course-1.png" alt="chess-course" />
    <div class="content">
      <div class="top">
        <div class="nav">
          <h2>{{ course().title }}</h2>
          <div>Sign out</div>
        </div>
        <div class="coach">Carlos Albinos</div>
      </div>
      <div class="progress-group">
        <div class="progress-stat-component">
          <div class="header">{{ 3 }} /{{ 5 }} Lessons</div>
          <div class="progress-stat">
            <div class="bar">
              <div class="progress-bar" [style.width]="60 + '%'"></div>
            </div>
          </div>
        </div>

        <div class="progress-stat-component">
          <div class="header">{{ 4 }} /{{ 5 }} Puzzles</div>
          <div class="progress-stat">
            <div class="bar">
              <div class="progress-bar" [style.width]="80 + '%'"></div>
            </div>
          </div>
        </div>

        <div class="progress-stat-component">
          <div class="header">{{ 2 }} /{{ 5 }} Quizes</div>
          <div class="progress-stat">
            <div class="bar">
              <div class="progress-bar" [style.width]="40 + '%'"></div>
            </div>
          </div>
        </div>

        @if (40 < 100) {
          <i class="fa fa-check-circle"></i>
        } @else {
          <i class="fa fa-check-circle complete"></i>
        }
      </div>
    </div>
  </section>
  <section class="course-content-section">
    <h3>Chapters</h3>
    <div class="chapter-group">
      <!-- <div class="chapter" >
        <div class="progress" >
          <div class="circle" ></div>
        </div>
        <div class="chapter-content" >
          <button type="button" class="icon" >
            <img src="assets/icons/course-arrow-down.png" alt="arrow-down">
          </button>
          <div>1. Chess opening lesson</div>
        </div>
      </div>

      <div class="lesson-group" >

        <div class="lesson" >
          <div class="progress" >
            <div class="circle" ></div>
          </div>
          <div class="lesson-content" >
            <div class="left" >
              <div class="bold" >Lesson 1</div>
              <div>Chess opening lesson</div> 
            </div>
            <div class="right" >
              <button type="button" class="secondary-btn" >Preview</button>
            </div>
          </div>
        </div>
  
        <div class="lesson" >
          <div class="progress" >
            <div class="circle" ></div>
          </div>
          <div class="lesson-content" >
            <div class="left" >
              <div class="bold" >Lesson 2</div>
              <div>Chess opening lesson</div> 
            </div>
            <div class="right" >
              <button type="button" class="primary-btn" >Learn</button>
            </div>
          </div>
        </div> -->
      @for (chapter of chapters; track $index) {
        <app-course-chapter-tile
          [chapter]="chapter[0]"
          [lessons]="chapter[1]"
          [chapterNumber]="$index + 1"
        />
      }
    </div>

    <!-- <div class="chapter" >
        <div class="progress" >
          <div class="circle" ></div>
        </div>
        <div class="chapter-content" >
          <button type="button" class="icon" >
            <img src="assets/icons/course-arrow-down.png" alt="arrow-down">
          </button>
          <div>2. Chess opening lesson</div>
        </div>
      </div>

      <div class="lesson-group" >

        <div class="lesson" >
          <div class="progress" >
            <div class="circle" ></div>
          </div>
          <div class="lesson-content" >
            <div class="left" >
              <div class="bold" >Lesson 3</div>
              <div>Chess opening lesson</div> 
            </div>
            <div class="right" >
              <button type="button" class="primary-btn" >Learn</button>
            </div>
          </div>
        </div>
        
      </div>
      

      <div class="chapter" >
        <div class="progress" >
          <div class="circle" ></div>
        </div>
        <div class="chapter-content" >
          <button type="button" class="icon" >
            <img src="assets/icons/course-arrow-down.png" alt="arrow-down">
          </button>
          <div>3. Chess opening lesson</div>
        </div>
      </div>
    </div> -->
  </section>
</div>
