.top-container {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.lesson-list {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.review-form-container {
  display: flex;
  justify-content: flex-end;
}

.back-button {
  text-decoration: none;
}

.page {
  width: 62.5rem;
  margin: auto;
}

.dsc {
  font-size: 0.75rem;
}

.price {
  font-size: 1.5rem;
}

.course-header {
  align-items: center;
  justify-content: space-between;
  display: flex;
  gap: 1rem;
  margin-top: 1.375rem;
  margin-bottom: 1.375rem;

  .course-title {
    display: block;
    margin: 0;
  }

  .course-lesson-count {
    padding-bottom: 0.25rem;
  }
}

.btn-group {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

.course-lesson-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.course-header-right {
  display: flex;
  gap: 1rem;
}

.course-header-left {
  align-items: flex-end;
  display: flex;
  gap: 1rem;
}

.course-lesson-header {
  align-items: center;
  display: flex;
  gap: 1rem;
}

.course-data {
  padding-bottom: 1rem;
}

h4 {
  margin: 0;
}

.course-lesson-exercises {
  padding-left: 0.625rem;
  border-left: 0.125rem solid black;
}

.exercise-wrapper {
  width: 50%;
}

.exercise-header {
  display: flex;
  gap: 0.5rem;
  margin-top: 1.25rem;
}

.exercise-description {
  font-size: 0.875rem;
  padding-top: 0.25rem;
  border-bottom: 0.0625rem solid black;
}

.exercise-link-title {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: 700;
  font-size: 0.875rem;

  &:hover {
    color: rgb(69, 143, 255);
    text-decoration: underline;
  }

  .pi-chevron-right::before,
  .pi-chevron-left::before {
    font-size: 0.875rem;
  }
}

.course-central-content {
  display: flex;
  justify-content: space-between;

  > * {
    width: 100%;
  }
}
