<p-dialog
  [header]="this.givenReview() ? 'Edit course review' : 'Add course review'"
  [modal]="true"
  [draggable]="false"
  [(visible)]="reviewFormVisible"
>
  <div class="review-form-container">
    <app-student-course-review-form
      [existingReview]="givenReview() ?? null"
      (reviewSubmitted)="newReview($event)"
    />
  </div>
</p-dialog>

<div class="page">
  <h2>My Course Details</h2>
  <section class="main-section">
    <img
      class="course-img"
      alt="chess-course"
      [src]="course().thumbnailUrl ?? 'images/hat.png'"
    />
    <div class="right">
      <div class="content">
        <h3>{{ course().title }}</h3>
        <div class="desc">{{ course().description }}</div>
      </div>
      <div class="footer"></div>
      <div class="review-btn-container">
        @if (this.givenReview()) {
          <div>
            <app-star-rating [rating]="this.givenReview()!.value" />
            <div class="review-text">{{ shortenedReview() }}</div>
            <div class="review-buttons">
              <button class="review-btn" type="button" (click)="showReviewForm()">
                Edit
              </button>
              <button class="delete-review-btn" type="button" (click)="deleteReview()">
                Delete
              </button>
            </div>
          </div>
        } @else {
          <button class="review-btn" type="button" (click)="showReviewForm()">
            Add Review
          </button>
        }
      </div>
    </div>
  </section>

  <div class="lessons-section">
    <h3>Lessons</h3>
    <div class="lessons-group">
      @for (lesson of course().lessons; track $index) {
        <app-student-lesson
          [lesson]="lesson"
          [index]="$index"
          [first]="$first"
          [last]="$last"
          [complete]="LessonStatus.InProgress"
          [locked]="false"
        />
      }
    </div>
  </div>
</div>
