@use 'variables' as *;

.page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: $page-width;
  margin: auto;

  section {
    padding: 1rem;
    border-radius: 0.5rem;
  }

  .main-section {
    display: flex;
    background-color: white;

    .course-img {
      width: 17rem;
      height: 17rem;
      object-fit: cover;
      border-radius: 0.5rem;
      margin-right: 1rem;
    }

    .right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      // border: 1px solid;

      .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // border: 1px solid;

        .desc {
          // color: $text-secondary;
        }
      }
    }
  }

  .lessons-section {
    .lessons-group {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  }
}

.review-btn-container {
  display: flex;
  justify-content: flex-end;
}

.review-btn {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  color: $primary;
  cursor: pointer;
}
