<div class="container">
  <div class="top-container">
    <div>
      <h2>{{ course().title }}</h2>
      <div>{{ course().description }}</div>
    </div>
    <button pButton class="sign-out-button" type="button" (click)="signOut()">
      Sign out from course
    </button>
  </div>
  <div class="lesson-list">
    @for (lesson of course().lessons; track $index) {
      <app-student-lesson-tile [lesson]="lesson" />
    }
  </div>

  <div class="review-form-container">
    <app-student-course-review-form />
  </div>
  <a class="back-button" pButton [routerLink]="'../'">Back to courses</a>
</div>

<p-confirmDialog></p-confirmDialog>
