@use 'variables' as *;

.button-edit,
.button-delete {
  background-color: transparent;
  width: 2rem;
  height: 2rem;
  border: none;
  border-radius: 0.25rem;

  img {
    width: $font-L;
  }
}

.button-edit:hover {
  background-color: $background;
}

.button-delete:hover {
  background-color: #ffdbdb;
}

.button-expand-lesson-details {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;

  img {
    height: 1rem;
  }

  .details-expanded {
    transform: rotate(90deg);
  }
}

.lesson-wrapper {
  display: flex;
  font-size: $font-S;
}

.lesson {
  width: 100%;
  background-color: white;
  padding: 0.25rem 0.75rem;
  border-radius: 0.5rem;
}

.lesson-first {
  .progress-container {
    &::before {
      display: none;
    }
  }
}

.lesson-last {
  .progress-container {
    &::after {
      display: none;
    }
  }
}

.lesson-header {
  height: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lesson-controls {
  display: flex;
  gap: 1rem;
}

.button-expand-lesson-elements {
  font-size: $font-S;
  height: 2rem;
  background-color: transparent;
  color: $primary;
  border-radius: 0.25rem;
  border: 0.0625rem solid $primary;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0 0.75rem;

  img {
    width: 0.75rem;
  }
}

.lesson-elements {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.lesson-element {
  height: 2.5rem;
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.25rem;
  padding: 0 0.25rem;

  &:hover {
    background-color: $background;

    .lesson-element-controls {
      .button-delete {
        display: block;
      }
    }
  }
}

.lesson-element-label {
  display: flex;
  align-items: center;
  gap: 1rem;

  img {
    height: 1rem;
  }
}

.lesson-element-controls {
  .button-delete {
    display: none;
  }
}

.progress-container {
  width: 1rem;
  margin-right: 0.5rem;
  position: relative;

  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0.2rem;
    height: 0.5rem;
    background-color: $border-secondary;
    border-radius: 1rem;
  }

  &::after {
    position: absolute;
    content: '';
    bottom: -0.75rem;
    left: 50%;
    transform: translateX(-50%);
    width: 0.2rem;
    height: calc(100% - 1.75rem);
    background-color: $border-secondary;
    border-radius: 1rem;
  }
}

.preview {
  color: $primary;
  font-weight: 700;
  border: 2px solid $primary;
  padding: 0.2rem;
  margin-right: 1rem;
}

.circle {
  position: relative;
  top: 1rem;
  width: 1rem;
  height: 1rem;
  background-color: $border-secondary;
  border-radius: 50%;
}
