<div class="lesson-wrapper" [class.lesson-first]="first" [class.lesson-last]="last">
  <div class="progress-container">
    <div class="circle"></div>
  </div>

  <div class="lesson">
    <div class="lesson-header">
      <div class="bold">{{ lesson.title }}</div>
      <div class="lesson-controls">
        <!-- <div class="progress-bar-container">
            <div class="percent">{{ progress }} / {{ all }}</div>
            <div class="progress-bar">
              <div class="progress" [style.width]="(progress / all) * 100 + '%'"></div>
            </div>
          </div> -->

        <button type="button" class="button-delete" (click)="deleteLesson($event)">
          <img src="icons/delete.png" alt="delete" />
        </button>

        <button type="button" class="button-edit">
          <img src="icons/edit.png" alt="edit" />
        </button>

        <div class="dropdown-menu">
          <button
            type="button"
            class="button-expand-lesson-elements"
            (click)="toggleAddOperations()"
          >
            <div>Add</div>
            <img src="icons/arrow-down-purple.png" alt="" />
          </button>
          @if (showAddElementOptions) {
            <div class="dropdown-menu-options">
              <a
                class="dropdown-menu-option"
                [routerLink]="'lesson/' + lesson.id + '/exercise/add'"
                ><div>
                  <img src="icons/puzzle-black.png" alt="Add puzzle icon" />Puzzle
                </div>
                <img
                  src="icons/plus.png"
                  class="dropdown-menu-option-action-icon"
                  alt="plus"
              /></a>
              <a
                class="dropdown-menu-option"
                [routerLink]="'lesson/' + lesson.id + '/quiz/add'"
                ><div><img src="icons/quiz-black.png" alt="Add quizz icon" />Quiz</div>
                <img
                  src="icons/plus.png"
                  class="dropdown-menu-option-action-icon"
                  alt="plus"
              /></a>
              <button
                class="dropdown-menu-option"
                type="button"
                (click)="openAddVideoDialog()"
              >
                <div><img src="icons/video-black.png" alt="Add quizz icon" />Video</div>
                <img
                  src="icons/plus.png"
                  class="dropdown-menu-option-action-icon"
                  alt="plus"
                />
              </button>
              <a
                class="dropdown-menu-option"
                [routerLink]="'lesson/' + lesson.id + '/example/add'"
                ><div><img src="icons/example-black.png" alt="" />Example</div>
                <img
                  src="icons/plus.png"
                  class="dropdown-menu-option-action-icon"
                  alt="plus"
              /></a>
            </div>
          }
        </div>

        <button
          type="button"
          class="button-expand-lesson-details"
          (click)="toggleElements()"
        >
          <img
            src="icons/arrow-right.png"
            alt="arrow"
            [class.details-expanded]="showElements"
          />
        </button>
      </div>
    </div>
    @if (showElements) {
      <div class="lesson-elements">
        @for (element of elements(); track $index) {
          <a
            class="lesson-element"
            [routerLink]="
              'lesson/' +
              lesson.id +
              '/' +
              element.kind.toLowerCase() +
              '/' +
              element.id
            "
          >
            <div class="lesson-element-label">
              <img [src]="kindToIcon.get(element.kind)" [alt]="element.kind" />
              <div>{{ element.title }}</div>
            </div>
            <div class="lesson-element-controls">
              <button
                type="button"
                class="button-delete"
                (click)="deleteElement($event, element.id, element.kind)"
              >
                <img src="icons/delete.png" alt="delete" />
              </button>
            </div>
          </a>
        }
        @if (elements().length === 0) {
          <div>No Elements</div>
        }
      </div>
    }
  </div>
</div>
