<!-- <div class="page">
  <h1>Courses</h1>
  <a class="primary-button" [routerLink]="'new'">Add new course</a>
</div>
<ul>
  @for (course of courses; track $index) {
    <li>
      <div class="content">
        <a class="link" [routerLink]="course.id">{{ course.title }}</a>
        <hr />
        <div class="info">
          <div>{{ course.lessonNumber }} lessons</div>
          <div>
            price: <span class="price">{{ course.price }}$</span>
          </div>
          <div>score: {{ course.score === 0 ? '-' : course.score.toFixed(2) }} / 5</div>
        </div>
        <button class="danger-btn m-05" type="button" (click)="deleteCourse(course.id)">
          Delete
        </button>
        <a class="secondary-btn" [routerLink]="course.id + '/edit'">Edit</a>
      </div>
    </li>
  }
</ul> -->

<div class="page">
  <div class="header">
    <h2>My Courses</h2>
    <button type="button" class="primary-btn" [routerLink]="'new'">New Course</button>
  </div>
  <ul class="list">
    @for (course of courses; track $index) {
      <!-- Doesn't work. Why after delete pop up it redirect to details page? -->
      <app-coach-course-tile [course]="course" (delete)="deleteCourse($event)" />
    }
  </ul>
</div>
