@use 'sass:color';

@use 'variables' as *;

.main {
  background-color: color.adjust(white, $lightness: -5%);
}

.tile {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  // border: 1px solid;

  .header {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .user {
      color: $text-secondary;
    }
  }
}
