@use 'sass:color';

@use 'variables' as *;

.main {
  background-color: color.adjust(white, $lightness: -5%);
}

.tile {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  // border: 1px solid;

  .header {
    display: flex;
    align-items: center;
    gap: 1rem;

    .profile {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      color: $text-secondary;

      .circle {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background-color: #e6762c;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: $font-XS;
        font-weight: 700;
      }
    }

    .user {
      color: $text-secondary;
    }
  }
}
