@use "sass:color";

.page {
    margin: auto;
    width: 62.5rem;
    padding-bottom: 2rem;
}

.list {
    list-style-type: none;
}

a {
    background-color: color.adjust(white, $lightness: -5%);
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.5rem;
    text-decoration: none;
    color: black;
  
    &:hover {
      background-color: color.adjust(white, $lightness: -10%);
    }
}

span {
    font-weight: 700;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}