.top {
  margin: 0 auto;
  margin-bottom: 1rem;
  width: 60rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 4rem;
}

.tile {
  background-color: white;
  border-radius: 1rem;
  padding: 1rem;
}
