<!-- eslint-disable @angular-eslint/template/no-inline-styles -->
<li class="tile">
  <a [routerLink]="course.id">
    <img src="images/chess-course-1.png" alt="" />
    <!-- [course image] -->
    <div class="content">
      <div class="main">
        <div class="header">
          <div class="flex">
            <h3>{{ course.title }}</h3>
            <app-star-rating [rating]="3.4" [showMinimal]="true" />
          </div>
          <div class="desc">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora omnis enim
            libero numquam dolore aperiam explicabo corporis eum at reiciendis.
          </div>
        </div>
        <!-- <div class="operations">
          <a type="button" class="edit" [routerLink]="course.id + '/edit'">
            <img src="icons/edit.png" alt="edit" />
          </a>
          <button type="button" class="delete" (click)="onDelete()">
            <img src="icons/delete.png" alt="delete" />
          </button>
        </div> -->

        @if (100 > 0) {
          <div class="price">100$</div>
        } @else {
          <div class="price free">Free</div>
        }
      </div>
      <div class="footer">
        <div>
          <app-course-difficulty [difficulty]="3" />
          <!-- [course difficulty 1-5] -->
          <div class="lessons">2 Lessons <span>13 Elements</span></div>
          <!-- [coach name and surname] -->
        </div>
        <div class="operations">
          <a type="button" class="edit" [routerLink]="course.id + '/edit'">
            <img src="icons/edit.png" alt="edit" />
          </a>
          <button type="button" class="delete" (click)="onDelete()">
            <img src="icons/delete.png" alt="delete" />
          </button>
        </div>

        <!-- <div class="progress-bar-container">
            <div class="percent">{{ courseProgress }}%</div>
            <div class="progress-bar">
              <div class="progress" [style.width]="courseProgress + '%'"></div>
            </div>
            @if (courseProgress < 100) {
              <img src="icons/complete.png" alt="complete" />
            } @else {
              <img src="icons/purple-complete.png" alt="complete" />
            }
          </div> -->
      </div>
    </div>
  </a>
</li>
