<li class="tile">
  <a [routerLink]="['/student', 'courses', course().id]">
    <img alt="" [src]="course().thumbnailUrl ?? 'images/hat.png'" />
    <!-- [course image] -->
    <div class="content">
      <div class="main">
        <div class="header">
          <div class="flex">
            <h3>{{ course().title }}</h3>
            <app-star-rating [rating]="course().averageScore" [showMinimal]="true" />
          </div>
          <div class="desc">{{ course().description }}</div>
        </div>
        @if (course().isBought) {
          <div class="price owned">Owned</div>
        } @else {
          @if (course().price > 0) {
            <div class="price">{{ course().price }} PLN</div>
          } @else {
            <div class="price free">Free</div>
          }
        }
      </div>
      <div class="footer">
        <div>
          <app-course-difficulty
            [eloRangeStart]="course().eloRangeStart"
            [eloRangeEnd]="course().eloRangeEnd"
          />
          <!-- [course difficulty 1-5] -->
          <div class="coach">
            <span class="coach-pfp-wrapper"
              ><img
                alt="coach-pfp"
                class="coach-pfp"
                [src]="course().coachPfpUrl ?? 'images/hat.png'" /></span
            >&nbsp;{{ course().coachName }}
          </div>
          <!-- [coach name and surname] -->
        </div>
      </div>
    </div>
  </a>
  @if (!course().isBought && course().price > 0) {
    <button
      type="button"
      class="primary-btn get-course-button"
      (click)="openBuyCourseDialog()"
    >
      Buy
    </button>
  } @else if (!course().isBought && course().price === 0) {
    <button
      type="button"
      class="primary-btn get-course-button"
      (click)="acquireFreeCourse()"
    >
      Obtain for free
    </button>
  }
</li>
