<p-dialog
  header="Buy course"
  [modal]="true"
  [draggable]="false"
  [(visible)]="showPaymentModal"
  (close)="paymentModalClosed()"
>
  @if (clientSecret) {
    <div class="buy-course-container">
      <app-payment
        [clientSecret]="clientSecret"
        (paymentStarted)="paymentAttempted()"
        (paymentSuccess)="paymentSuccessful()"
        (paymentFailure)="paymentFailed($event)"
      />
    </div>
  }
</p-dialog>

<li class="tile">
  <a [routerLink]="['/student', 'courses', course().id]">
    <img alt="" [src]="course().thumbnailUrl ?? 'images/hat.png'" />
    <!-- [course image] -->
    <div class="content">
      <div class="main">
        <div class="header">
          <div class="flex">
            <h3>{{ course().title }}</h3>
            <app-star-rating [rating]="course().averageScore" [showMinimal]="true" />
          </div>
          <div class="desc">{{ course().description }}</div>
        </div>
        @if (course().isBought) {
          <div class="price owned">Owned</div>
        } @else {
          @if (this.course().price > 0) {
            <div class="price">{{ course().price }} PLN</div>
          } @else {
            <div class="price free">Free</div>
          }
        }
      </div>
      <div class="footer">
        <div>
          <app-course-difficulty
            [eloRangeStart]="course().eloRangeStart"
            [eloRangeEnd]="course().eloRangeEnd"
          />
          <!-- [course difficulty 1-5] -->
          <div class="coach">{{ course().coachName }}</div>
          <!-- [coach name and surname] -->
        </div>
        @if (!course().isBought) {
          <button
            type="button"
            class="primary-btn"
            [disabled]="courseBought"
            (click)="buyCourse($event)"
          >
            Buy
          </button>
        }
      </div>
    </div>
  </a>
</li>
