.tile {
  list-style-type: none;
}

a {
  background-color: darken(white, 5%);
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
  text-decoration: none;
  color: black;

  &:hover {
    background-color: darken(darken(white, 5%), 5%);
  }
}

span {
  font-size: 1.5rem;
}

.title {
  font-weight: 700;
}