<div class="quiz-page">
  <div class="main-content">
    <div class="top-container">
      @if (quiz().fen) {
        <app-display-chessboard
          class="chessboard"
          [startingFen]="boardFen()"
          [lastMove]="lastMove()"
        ></app-display-chessboard>
      }
      <div class="panel right-panel">
        <div class="question">
          {{ quiz().question }}
        </div>
        <ul class="answers">
          @for (answer of quiz().answers; track $index) {
            <li>
              <button
                type="button"
                class="answer"
                [class.correct]="answerSubmitted && quiz().solution === $index"
                [class.selected]="!answerSubmitted && selectedAnswer() === $index"
                [class.selectable]="!answerSubmitted"
                [class.incorrect]="
                  answerSubmitted &&
                  selectedAnswer() === $index &&
                  quiz().solution !== $index
                "
                [disabled]="answerSubmitted"
                (click)="selectAnswer($index)"
              >
                <span>{{ answer.text }}</span>
                @if (answerSubmitted && quiz().solution === $index) {
                  <img class="small-icon" alt="xmark" src="/icons/check-green.svg" />
                } @else if (answerSubmitted && selectedAnswer() === $index) {
                  <img class="small-icon" alt="xmark" src="/icons/xmark.svg" />
                }
              </button>
            </li>
          }
        </ul>
        <div class="buttons">
          @if (quiz().hint) {
            <button
              class="hint-button button"
              type="button"
              [disabled]="hintShown"
              (click)="showHint()"
            >
              <img class="icon" src="icons/lightbulb.svg" alt="lightbulb" />
              Hint
            </button>
          }
          <button
            class="reset-button button"
            type="button"
            [disabled]="selectedAnswer() === undefined"
            (click)="reset()"
          >
            <img class="icon" src="icons/reset.svg" alt="reset" />
            Reset
          </button>
          <button
            class="submit-button button"
            type="button"
            [disabled]="selectedAnswer() === undefined"
            (click)="submitAnswer()"
          >
            <img class="icon" src="icons/check.svg" alt="checkmark" />
            Submit
          </button>
        </div>
        @if (quiz().hint && hintShown) {
          <div class="hint">
            <img class="icon" src="icons/lightbulb.svg" alt="lightbulb" />
            <span>{{ quiz().hint }}</span>
          </div>
        }
      </div>
    </div>
    @if (answerSubmitted) {
      <div class="panel bottom-container">
        @if (solved) {
          <img src="" alt="" />
        } @else {}
        <img
          class="icon"
          alt="checkmark"
          [src]="solved ? '/icons/check-green.svg' : 'icons/xmark.svg'"
        />
        <span>{{ solved ? 'Correct! ' : 'Incorrect. ' }}</span>
        @if (quiz().explanation) {
          <span>{{ quiz().explanation }}</span>
        }
      </div>
    }
  </div>
</div>
