@use 'variables' as *;

.tile {
  width: fit-content;
  margin: auto;
  padding: 2rem 3rem 3rem;
  background-color: white;
  box-shadow: 0 0 10px $border-secondary;
  border-radius: 0.5rem;
  // border: 1px solid;

  .steps-graphic {
    display: flex;
    align-items: center;
    gap: 1rem;
    // gap: 0.5rem;
    width: fit-content;
    margin: auto;
    padding: 1rem 0 2rem;

    div {
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      background-color: $background;
    }

    .line {
      width: 1.5rem;
      height: 0.3rem;
      border-radius: 1rem;
    }

    .complete {
      background-color: $primary;
    }
  }

  h2 {
    width: fit-content;
    margin: auto;
    margin-bottom: 2rem;
  }

  .register-form {
    width: fit-content;
    margin: auto;
    position: relative;
    overflow: hidden;

    .step-container {
      display: grid;
      grid-template-columns: repeat(5, 100%);
      gap: 3rem;
      width: 25rem;
      padding-bottom: 2rem;
      transition: transform 0.5s ease-in-out;

      .step {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.2s ease-in-out;

        .form-control-field {
          label {
            margin-bottom: 0.5rem;
          }
        }

        .text {
          text-align: center;
        }

        img {
          margin: auto;
          width: 16rem;
        }
      }

      .step-active {
        opacity: 1;
        visibility: visible;
      }
    }

    .btn-group {
      display: flex;
      justify-content: space-between;
    }
  }
}

.primary-btn,
.secondary-btn {
  img {
    height: 0.75rem;
  }
}

.secondary-btn:disabled {
  border-color: $border-secondary;
  color: $border-secondary;

  &:hover {
    background-color: transparent;
  }
}

.primary-btn:disabled {
  border-color: $border-secondary;
  background-color: $border-secondary;

  &:hover {
    background-color: $border-secondary;
  }
}

.page-wrapper {
  width: fit-content;
  margin: auto;
}

.header {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 1rem;
}
