<div class="tile">
  @if (!showMinimal) {
    <div class="rating">{{ rating.toFixed(2) }}</div>
  }
  <div class="stars-group">
    @for (star of starsArray; track $index) {
      <img
        src="icons/yellow-star.png"
        alt="star"
        class="star"
        [class.minimal]="showMinimal"
      />
    }
    @if (addHalfStar) {
      <img
        src="icons/yellow-half-star.png"
        class="star"
        alt="half-star"
        [class.minimal]="showMinimal"
      />
    }
    @for (star of emptyStarArray; track $index) {
      <img
        src="icons/empty-star.png"
        alt="star"
        class="star"
        [class.minimal]="showMinimal"
      />
    }
  </div>
  @if (!showMinimal && ratingsNumber) {
    <div class="rating-number">({{ ratingsNumber }})</div>
  }
</div>
