.navbar {
  border-bottom: 1px solid gray;
}

.navigation {
  display: flex;
}

.nav-link {
  list-style-type: none;
  margin: 1rem;
  padding-right: 2.5rem;
}

.button {
  color: black;
  text-decoration: none;
  &:hover {
    color: gray;
  }
}

.container {
  display: flex;
  justify-content: space-between;
}

.log {
  margin-left: 2rem;
}

.username {
  font-weight: 700;
  text-decoration: underline;
}
