<!-- <div class="navbar">
  <ul class="container">
    <ul class="navigation">
      @for (link of navLinks; track $index) {
        <li class="nav-link">
          <a class="button" [routerLink]="link.path">{{ link.name }}</a>
        </li>
      }
    </ul>
    <li class="nav-link">
      <span class="logged-in-label"> Logged in as </span>
      <span class="username">
        {{ userName }}
      </span>
      <button class="logout-btn log" type="button" (click)="logOut()">Log Out</button>
    </li>
  </ul>
</div> -->

<div class="navbar">
  <div class="left">
    <ul class="navigation">
      <div class="logo">
        <img src="icons/logo.png" alt="logo" />
        <div class="text">Passed Pawn</div>
      </div>
      @for (link of navLinks; track $index) {
        <li class="nav-link">
          <a [routerLink]="link.path">{{ link.name }}</a>
        </li>
      }
    </ul>
  </div>
  <div class="right">
    <div class="mode">Coach Account</div>
    <button type="button" class="secondary-btn" (click)="logOut()">Log out</button>
  </div>
</div>
