<form
  class="vertical-form lesson-form"
  [formGroup]="lessonForm"
  (ngSubmit)="onSubmit()"
>
  <div class="form-control-field">
    <label for="lessonNumber">Lesson number</label>
    <p-inputNumber id="lessonNumber" formControlName="lessonNumber" type="number" />
    <app-validation-errors
      [errors]="lessonForm.controls.lessonNumber.errors"
      [dirty]="lessonForm.controls.lessonNumber.dirty"
      [touched]="lessonForm.controls.lessonNumber.touched"
    />
  </div>

  <div class="btn-group">
    <a class="secondary-btn" [routerLink]="'../'">Cancel</a>
    <button class="primary-button" type="submit" [disabled]="lessonForm.invalid">Submit</button>
  </div>
</form>
