/* You can add global styles to this file, and also import other style files */

.form-control-field {
  display: grid;
  grid-template-columns: 1fr;
  width: 15rem;
}

.vertical-form {
  display: grid;
  gap: 1rem;
}

.buttons-box {
  display: flex;
  justify-content: flex-end;
  padding-top: 1rem;
}

body {
  margin: 0;
}

.primary-button {
  color: #ffffff;
  cursor: pointer;
  background: #3b82f6;
  border: 1px solid #3b82f6;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  transition:
    background-color 0.2s,
    color 0.2s,
    border-color 0.2s,
    box-shadow 0.2s;
  border-radius: 6px;
  height: fit-content;
  outline-color: transparent;
  text-decoration: none;
  width: fit-content;

  &:hover {
    background-color: darken(#3b82f6, 10%);
  }

  &:disabled {
    background-color: #b8d2fb;
    border-color: #b8d2fb;
  }

  &.button-small {
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
  }
}

.secondary-btn {
  background-color: transparent;
  color: #3b82f6;
  border: 1px solid #3b82f6;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  transition:
    background-color 0.2s,
    color 0.2s,
    border-color 0.2s,
    box-shadow 0.2s;
  border-radius: 6px;
  outline-color: transparent;
  cursor: pointer;
  width: fit-content;
  text-decoration: none;

  &:hover {
    background-color: #3b82f6;
    color: white;
  }
}

.danger-btn {
  background-color: red;
  color: white;
  padding: 0.75rem 1.25rem;
  border: none;
  font-size: 1rem;
  transition:
    background-color 0.2s,
    color 0.2s,
    border-color 0.2s,
    box-shadow 0.2s;
  border-radius: 6px;
  outline-color: transparent;
  cursor: pointer;
  width: fit-content;
  text-decoration: none;

  &:hover {
    background-color: darken(red, 10%);
  }
}

.logout-btn {
  background-color: transparent;
  color: red;
  border: none;
  padding: 0;
  font-size: 1rem;
  border-radius: 6px;
  outline-color: transparent;
  cursor: pointer;
  width: fit-content;
  text-decoration: none;
}
