@use 'sass:color';

@use 'variables' as *;

body {
  margin: 0;
  margin-top: 4rem;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  background-color: $background;
  overflow-y: scroll;
}

button {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: $font-XXL;
  margin: 0;
  padding: 0;
  font-weight: 600;
}

h2 {
  font-size: $font-XL;
  margin: 0;
  padding: 0;
  font-weight: 700;
}

h3 {
  font-size: $font-L;
  margin: 0;
  padding: 0;
  font-weight: 700;
}

.form-control-field {
  display: grid;
  grid-template-columns: 1fr;
  width: 25rem;
}

.vertical-form {
  display: grid;
  gap: 1rem;
}

.buttons-box {
  display: flex;
  justify-content: flex-end;
  padding-top: 1rem;
}

.primary-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: $primary;
  color: white;
  width: fit-content;
  height: fit-content;
  padding: 0.5rem 1rem;
  font-size: $font-S;
  border: 1px solid $primary;
  border-radius: 0.5rem;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background-color: color.adjust($primary, $lightness: -10%);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.secondary-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: $primary;
  background-color: transparent;
  font-size: $font-S;
  border-radius: 0.5rem;
  width: fit-content;
  height: fit-content;
  padding: 0.5rem 1rem;
  text-decoration: none;
  box-sizing: border-box;
  border: 1px solid $primary;
  cursor: pointer;

  img {
    height: $font-M;
  }

  &:hover {
    background-color: color.adjust($primary, $lightness: 40%);
  }
}

.calendar .p-calendar,
.dropdown .p-dropdown {
  width: 100%;
}

.inputNumber .p-inputNumber,
.autoComplete .p-autoComplete {
  width: 100%;
  // nie działa
}

.paginator .p-paginator-page.p-paginator-page-selected {
  background-color: $primary-lighter;
  color: #64748b;
}
