$font-XS: 0.75rem;
$font-S: 1rem;
$font-M: 1.2rem;
$font-L: 1.5rem;
$font-XL: 2rem;
$font-XXL: 3rem;
$font-XXXL: 4rem;

$primary: #6015f4;
$primary-light: #af87fe;
$primary-lighter: #e4d7ff;

$background: #f4f4f4;

$black-square-background: #a77d3b;
$black-square-selected-background: #b9ca42;
$black-square-valid-move-circle-color: #4b4b4b4f;
$white-square-selected-background: #f5f580;
$white-square-valid-move-circle-color: #7272724f;
$white-square-background: #ffe9b7;
$king-in-check-background: #ff240057;

$text-primary: black;
$text-secondary: #4f4f4f;

$border-secondary: #bababa;

$free: #39b54a;
$yello-star: #fed545;

$page-width: 80rem;

$colors: #7b92c9, #66afb5, #f7c340, #f36f6f;
