$font-XS: 0.75rem;
$font-S: 1rem;
$font-M: 1.2rem;
$font-L: 1.5rem;
$font-XL: 2rem;
$font-XXL: 3rem;
$font-XXXL: 4rem;

$primary: #6015f4;
$primary-light: #af87fe;

$background: #f1f1f1;

$text-primary: black;
$text-secondary: #4f4f4f;

$border-secondary: #bababa;

$free: #39b54a;
$yello-star: #fed545;

$page-width: 80rem;
