<form
  class="vertical-form course-form"
  [formGroup]="courseForm"
  (ngSubmit)="onSubmit()"
>
  @if (courseId) {
    <h2>Edit course</h2>
  } @else {
    <h2>Add new course</h2>
  }
  <div class="form-control-field">
    <label for="title">Title</label>
    <input class="standard-input" formControlName="title" type="text" required />
    <app-validation-errors
      [errors]="courseForm.controls.title.errors"
      [dirty]="courseForm.controls.title.dirty"
      [touched]="courseForm.controls.title.touched"
    />
  </div>

  <div class="form-control-field">
    <label for="description">Description</label>
    <input class="standard-input" formControlName="description" type="text" required />
    <app-validation-errors
      [errors]="courseForm.controls.description.errors"
      [dirty]="courseForm.controls.description.dirty"
      [touched]="courseForm.controls.description.touched"
    />
  </div>

  <div class="form-control-field">
    <label for="price">Price</label>
    <p-inputNumber
      id="price"
      formControlName="price"
      type="number"
      class="pg-inputnumber"
    />
    <app-validation-errors
      [errors]="courseForm.controls.price.errors"
      [dirty]="courseForm.controls.price.dirty"
      [touched]="courseForm.controls.price.touched"
    />
  </div>

  <div class="form-control-field">
    <label for="price">Elo range start</label>
    <p-inputNumber
      id="eloRangeStart"
      formControlName="eloRangeStart"
      type="number"
      class="pg-inputnumber"
    />
    <app-validation-errors
      [errors]="courseForm.controls.eloRangeStart.errors"
      [dirty]="courseForm.controls.eloRangeStart.dirty"
      [touched]="courseForm.controls.eloRangeStart.touched"
    />
  </div>

  <div class="form-control-field">
    <label for="price">Elo range end</label>
    <p-inputNumber
      id="eloRangeEnd"
      formControlName="eloRangeEnd"
      type="number"
      class="pg-inputnumber"
    />
    <app-validation-errors
      [errors]="courseForm.controls.eloRangeEnd.errors"
      [dirty]="courseForm.controls.eloRangeEnd.dirty"
      [touched]="courseForm.controls.eloRangeEnd.touched"
    />
  </div>

  <div class="btn-group">
    <a class="secondary-btn" [routerLink]="'/coach/courses'">Cancel</a>
    <button class="primary-btn" type="submit" [disabled]="courseForm.invalid">
      Submit
    </button>
  </div>
</form>
