<form
  class="vertical-form course-form"
  [formGroup]="courseForm"
  (ngSubmit)="onSubmit()"
>
  <div class="form-control-field">
    <label for="title">Title</label>
    <input pInputText="title" formControlName="title" type="text" required />
    <app-validation-errors
      [errors]="courseForm.controls.title.errors"
      [dirty]="courseForm.controls.title.dirty"
      [touched]="courseForm.controls.title.touched"
    />
  </div>

  <div class="form-control-field">
    <label for="description">Description</label>
    <input
      pInputText="description"
      formControlName="description"
      type="text"
      required
    />
    <app-validation-errors
      [errors]="courseForm.controls.description.errors"
      [dirty]="courseForm.controls.description.dirty"
      [touched]="courseForm.controls.description.touched"
    />
  </div>

  <div class="form-control-field">
    <label for="price">Price</label>
    <p-inputNumber id="price" formControlName="price" type="number" />
    <app-validation-errors
      [errors]="courseForm.controls.price.errors"
      [dirty]="courseForm.controls.price.dirty"
      [touched]="courseForm.controls.price.touched"
    />
  </div>

  <div class="buttons-box">
    <p-button type="submit" [disabled]="courseForm.invalid">Submit</p-button>
  </div>
</form>
