<h4>Add course review</h4>
<form class="form" [formGroup]="reviewForm" (ngSubmit)="onSubmit()">
  <div>
    <p-inputNumber
      class="score-input"
      id="value"
      formControlName="value"
      type="number"
      showButtons="true"
      [min]="1"
      [max]="5"
    />
    <app-validation-errors
      [errors]="reviewForm.controls.value.errors"
      [dirty]="reviewForm.controls.value.dirty"
      [touched]="reviewForm.controls.value.touched"
    />
  </div>

  <div class="review-description-wrapper">
    <textarea
      pInputTextarea
      id="content"
      formControlName="content"
      placeholder="Your review"
      class="review-description"
    ></textarea>
    <app-validation-errors
      [errors]="reviewForm.controls.content.errors"
      [dirty]="reviewForm.controls.content.dirty"
      [touched]="reviewForm.controls.content.touched"
    />
  </div>

  <div>
    <p-button type="submit" [disabled]="reviewForm.invalid">Submit</p-button>
  </div>
</form>
