<!-- <div class="page">
  <div class="course-data">
    <h1>{{ course().title }}</h1>
    <div>
      <div class="dsc">Description</div>
      <div>{{ course().description }}</div>
    </div>

    <hr />

    <div class="info">
      <div>{{ this.lessonCount() }} lessons</div>
      <div>
        price: <span class="price">{{ formattedPrice() }}</span>
      </div>
      <div>
        price: <span class="price">{{ course().price }}$</span>
      </div>
      <div>{{ course().enrolledStudentsCount }} enrolled students</div>
      <div>
        Average review score: {{ averageReviewScore() }} ({{ reviewCount() }} reviews) -->
      <!-- </div>
    </div>

    @for (review of course().reviews; track $index) {
      <app-course-review [review]="review" />
    }

    <div class="btn-group">
      <a class="primary-button" [routerLink]="'lessons/new'">Add lesson</a>
      <a class="secondary-btn" [routerLink]="'/coach/courses'">Back to courses</a>
    </div>
  </div>
  <hr /> -->
  <!-- <ul class="course-lesson-list">
    @for (lesson of lessons(); track $index) {
      <div class="course-lesson">
        <li class="course-lesson-header">
          <h3>Lesson {{ $index + 1 }}</h3>
          <button
            type="button"
            class="primary-button button-small"
            (click)="navigateAddExercise(lesson.id)"
          >
            Add exercise
          </button>
          <button
            type="button"
            class="primary-button button-small"
            (click)="navigateAddQuiz(lesson.id)"
          >
            Add quiz
          </button>
          <button
            type="button"
            class="danger-btn button-small"
            (click)="deleteLesson(lesson.id)"
          >
            Delete lesson
          </button>
        </li>
        <div class="course-lesson-exercises">
          @for (exercise of getSortedExercises(lesson.exercises); track exercise) {
            <div class="exercise-wrapper">
              <div class="exercise-header">
                <h4>Exercise</h4>
                <a
                  class="exercise-link-title"
                  [routerLink]="
                    '/coach/courses/' +
                    course().id +
                    '/lesson/' +
                    lesson.id +
                    '/exercise/' +
                    exercise.id
                  "
                >
                  <i class="pi pi-chevron-left"></i>
                  <span>{{ exercise.title }}</span
                  ><i class="pi pi-chevron-right"></i
                ></a>
              </div>
              <div class="exercise-description">
                {{ exercise.description }}
              </div>
            </div>
          }
        </div>
      </div>
    }
  </ul>
</div> -->

<div class="page">
  <div class="header">
    <h2>My Course Details</h2>
    <a class="secondary-btn" [routerLink]="'/coach/courses'">Back to courses</a>
  </div>
  <section class="main-section">
    <img class="course-img" src="images/chess-course-1.png" alt="chess-course" />
    <div class="right">
      <div class="content">
        <h3>{{ course().title }}</h3>
        <div class="desc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis architecto
          voluptates labore repudiandae ipsam adipisci. Quia dolorum, ut deserunt modi
          aut officia soluta possimus accusamus eveniet, dolorem perferendis placeat
          architecto sit sequi aliquam beatae tempora facilis consequuntur vitae
          recusandae ipsam!
        </div>
      </div>
      <div class="footer"></div>
    </div>
  </section>

  <div class="lessons-section">
    <div class="header">
      <h3>Lessons</h3>
      <a class="btn" [routerLink]="'lessons/new'">Add lesson</a>
    </div>
    <div class="lessons-group">
      @for (lesson of lessons(); track $index) {
        <app-coach-lesson
          [lesson]="lesson"
          [index]="$index"
          [first]="$first"
          [last]="$last"
          (deleteLessonEvent)="deleteLesson($event)"
        />
      }
    </div>
  </div>
</div>
